body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 40%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.gender {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.gender label {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  background: teal;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: darkcyan;
}
